# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
*.off
*.old
.DS_Store

# eclipse conf file
.settings
.classpath
.project
.manager
.externalToolBuilders

# building
target
null
tmp*
dist
test-output

# other scm
.svn
.CVS
.hg*
